/* 
Designed by jackiekellett 
	GitHub: https://github.com/jackiekellett  
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nabla&display=swap');


/* Root */ 
* {
	--dark: #000;
	--transdark: #ccc;
	--bgcolor: #fff;
	--bright: #ff4500;
	--light: #bfecff;
	--
}



/* HTML */
html {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	background-color: var(--bgcolor);
	padding: 0.1em;
	margin: 0;
	color: var(--dark);
}

/* Body */
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 1em;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 0 1em;
}

h1 {
	font-family: 'Nabla', cursive;
	font-size: 3em;
	padding: 0 1em;
}

nav{
	width: 40%;
	font-size: 1.5em;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}

a{
	text-decoration: none;
	color: var(--dark);
}

nav>p>a {
	padding: .5em;
	margin: .5em;
	border: 0.2em solid var(--bgcolor);
}

nav>p>a:hover {
	font-weight: bold;
	
}

main {
	color: var(--dark);
	font-size: 1.4em;
	display: flex;
	flex-direction: column;
}

/* Footer */
footer {
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/* TEMPORARY */
img {
	max-width: 50vw;
}

/* INDEX */

.showcase {
	width: 100%;
	content: url(https://www.marinello.art/images/showcase/pcookietransparent.png);
	animation: ani 7.5s infinite;
	
}

@keyframes ani {
	0% {content: url(https://www.marinello.art/images/showcase/pcookietransparent.png);}
	33% {content: url(https://www.marinello.art/images/showcase/transparentimogen2.png);}
	66% {content: url(https://www.marinello.art/images/showcase/tristransparent.png);}
	100% {content: url(https://www.marinello.art/images/showcase/pcookietransparent.png);}
}

/* GALLERY IMAGES */

.gallery {
	width: 100%;
}

.gallery img {
	width: 30vw;
}