/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Root */ 
* {
	font-family: 'Poiret One', sans-serif;
}

/* HTML */
html {
	overflow-x: hidden;
	background-color: whitesmoke;
	padding: 0;
	margin: 0;
	color: black;
}

/* Body */
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

h1 {
	font-family: 'Poiret One', sans-serif;
	font-size: 3rem;
}

nav{
	width: 40%;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}

a{
	text-decoration: none;
	color: black;
}

nav>p>a {
	padding: .5rem;
	margin: .5rem;
}

.top-link:hover {
	color: burlywood;
}

main {
	color:black;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
}

.home-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

.home-section > .image {
	height: 200px;
}

#creations-main-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}